
body{
	font-family: "Arial";
}



:root {
    --maincolor:#CF9A2C;
    --main-txt-color: blue;    
    --main-padding: 15px;    
}
.imglogo{

}

.nav li{
display: inline-block;

}

.nav li a{
	font-size: 16px;
	font-weight: bold;
	color:var(--maincolor);

	padding-top:38px;
	padding-bottom: 33px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	transition: 0.3s;
}
.nav li a:hover{
	background-color: var(--maincolor);
	color: white;
}
.center-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gradient{
		background: linear-gradient(to right, rgba(207,154,44,0.7), rgba(0,0,0,0.7));
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
	
}
.subgradient1{
		background: linear-gradient(to right, rgba(207,154,44,0.7), rgba(0,0,0,0.5));
		position: absolute;
		top: 0;
		left:15px;
		width:95%;
		height:100%;
    z-index: 10;
	
}
.subgradient2{
		background: linear-gradient(to right, rgba(207,154,44,0.7), rgba(0,0,0,0.5));
		position: absolute;
		top: 0;
		left:15px;
		width:90%;
		height:100%;
	z-index: 10;
}

.center{
	  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
.text-banner{
	font-size: 45px;
	font-weight: bold;
	color: white;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    }
    .carousel-control-next:hover span{
    	opacity: 1;
    }


    .title{
    	font-size: 35px;
    	font-weight: bold;
    	text-align: center;
    	padding-bottom: 30px;
    	color: var(--maincolor);
    }

    .standard-padding{
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    .text{
    	font-size: 14px;
    	line-height: 25px;
    	color: black;
    	text-align: center;
    }

    .service-text{
    	font-size: 16px;
    	font-weight: bold;
    	color: white;
    	position: absolute;
    	bottom: 15px;
    	left: 30px;
      z-index: 20;
    }
   .footer-title{
   	font-size: 18px;
   color: var(--maincolor);
   font-weight: bold;
   }
   .input{
  width: 100%;
  height: 40px;
   outline: none;
   box-shadow: none;
   border:1px solid #e0e0e0;
}
.imgfooter{
width: 300px;
height: 100px;
}

.button-white{
      width: 168px;
    height: 40px;
    background-color:var(--maincolor);
    font-size: 14px;
    color:white;
    border:solid 1px white;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.hover img{
  transition: 0.5s;
  overflow: hidden;
}
.hover:hover img{
  transform: scale(1.2);
}

.question{
    color:var(--maincolor);
    padding: 18px;
    width: 100%;
   border-top:1px solid #e0e0e0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;

}

.answer{
    padding: 0 18px;
    background-color: white;
}

.goldhover:hover{
  color: var(--maincolor);
  text-decoration: none;
}
.footer-link{
  border-bottom:1px solid #e0e0e0;
  line-height: 16px;
  padding-top: 18px;
}

.fullgrid{
  width: 100%;
  height: 100%;
}

.top30{
  margin-top: 30px;
}
.about-text{
  width: 500px;
  text-align: left;
}
.about-text1{
  width:79%;
  text-align: left;
}
.margin-top-50{
  margin-top:50px;
}

.margin-left-375{
  margin-left: -375px;
}
.width-960{
  width: 960px;
}


/*adjust service 1*/
.service-background{
position: absolute;
top: 0px;
left: 0px;
width:960px;
height: 100%;
background-color:#F9F9F9;
z-index: -10;
}

.width-75{
  width: 75%;
}

.font-size-35{
  font-size: 35px;
}

.line-height-45{
  line-height: 45px;

}



.service-background-left{
  position: absolute;
  top: 0px;
  left: -375px;
  width:960px;
  height: 100%;
  background-color:#F9F9F9;
  z-index: -10;
}
